<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-box">
    <div class="container">
      <h2 class="text-center mb-5">Contact</h2>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <div class="form-group">
              <label for="Email">Email</label>
              <input
                type="email"
                class="form-control"
                name="Email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                formControlName="Email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >Votre email ne sera pas partagé</small
              >
            </div>
            <div class="form-group">
              <label for="fullname">Nom</label>
              <input
                type="text"
                class="form-control"
                name="Fullname"
                placeholder="Full Name"
                formControlName="Fullname"
              />
            </div>
  
            <div class="form-group">
              <label for="comment">Commentaires</label>
              <textarea
                class="form-control"
                formControlName="Comment"
                name="Comment"
              >
              </textarea>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!FormData.valid"
            >
              Soumettre
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
