<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
      <ion-title size="large">A propos</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-card-content>
    <p>Ask&Share,une application mobile d'échange et de partage de savoirs et de savoir-faire</p><br/>
    <p>Le premier réseau, nommé "Réseau d'échanges de connaissances", a été créé par Claire et Marc Héber–Suffrin, en 1971 à Orly5. Enseignante, Claire Héber-Suffrin avait constaté que ses élèves, même ceux en difficulté, détenaient de nombreux savoirs, méconnus ou ignorés par l'école et parfois par eux-mêmes. Sa pédagogie s'appuyait sur la possibilité pour les élèves de transmettre ces savoirs à leurs camarades. L'objectif était que les enfants prennent conscience de leurs capacités et se retrouvent en situation de réussite. Commencés avec les élèves, les échanges se sont élargis aux parents. Entre 1971 et 1976 avec la coopération d'acteurs de la ville, en particulier un club de prévention dont Marc Héber-Suffrin est alors administrateur, les RERS se sont développés dans la ville d'Orly6. Les RERS sont ainsi nés d'un croisement entre des questionnements pédagogiques et une pratique sociale d'éducation populaire.</p>
    <br/>
    <p>principes</p>
  </ion-card-content>
</ion-content>